* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  --dark-color: rgb(7, 9, 15);
  --metalic-color: rgb(163, 124, 64);
  --light-grey: rgb(231, 230, 230);
}

body {
  background-color: var(--light-grey);
}

.nav {
  height: 100px;
  background-color: var(--dark-color);
  padding: 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  color: white;
}

.logo {
  font-size: 2rem;
}

.stats {
  display: flex;
  background-color: var(--metalic-color);
  border-radius: 10px;
  padding: 20px;
  column-gap: 30px;
  color: white;
}

.main {
  margin-top: 50px;
}

ul li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  border-radius: 12px;
  border: 1px solid var(--dark-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

img {
  width: 90px;
  height: 90px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.card .name {
  font-size: 1.3rem;
  font-weight: bold;
}

.loading {
  position: absolute;
  width: 200px;
  top: 115px;
  font-weight: bold;
  text-align: center;
  left: calc(50% - 100px);
}
